# Dings-Css-File

## Pre-Tag

<style type="text/css">

pre {
        background-color: #F8F9FA;
        border-style: solid;
        border-color: #A1AAB1;
        border-radius: 4px;
        padding: 5px;
}

</style>
